/* Colors:
    Eerie Black: #171717
    Space Cadet: #19384B
    Celadon Green: #308299
    Outer Space: #474747
    Cordovan: #874039
    Deep Saffron: #F39237
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.5;
    color: #777;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(60, 77, 112, 0.6), rgba(38, 48, 72, 0.6)), url('../img/tempBG.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-title {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 3.5rem;
}

.heading-title-main {
    display: block;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 0.8rem;
    text-shadow: 0px 0px 2px black;
}

.heading-title-sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    text-shadow: 0px 0px 2px black;
}

@media only screen and (max-width: 400px) {
    .heading-title-main {
        display: block;
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: 0.6rem;
    }
    .heading-title-sub {
        display: block;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0.6rem;
    }
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    font-weight: 700;
}

#enter-btn:link,
#enter-btn:visited {
    transition: all 100ms;
}

#enter-btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: white;
}

#enter-btn:hover i {
    animation: arrow-slide-in 300ms;
}

@keyframes arrow-slide-in {
    0% {
        color: black;
        transform: translateY(0);
    }
    25% {
        transform: translateY(150%);
        color: black;
    }
    26% {
        transform: translateY(200%);
        color: transparent;
    }
    74% {
        transform: translateY(-200%);
        color: transparent;
    }
    75% {
        color: black;
        transform: translateY(-200%);
    }
    100% {
        color: black;
        transform: translateY(0);
    }
}

.btn-main {
    background-color: transparent;
    color: white;
    border-style: solid;
}

button:focus {
    outline: 0;
}

.btn-project-grid {
    display: block;
    background-color: transparent;
    color: rgb(0, 145, 241);
    border-width: 0.25rem;
    border-style: solid;
    border-color: rgb(0, 145, 241);
    margin: 1.5rem auto;
}

.btn-project-grid:hover {
    background-color: rgb(0, 145, 241);
    color: white;
}

.btn-project-grid:active {
    background-color: rgba(38, 48, 72);
    border-color: rgba(38, 48, 72);
}

.main-nav {
    height: auto;
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    transition: ease 200ms;
}

.nav-option {
    display: inline-block;
}

.nav-option a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .nav-option a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        padding: 1rem;
        font-size: 0.8rem;
        font-weight: bold;
    }
}

.nav-option a:hover {
    text-decoration: underline;
}

#about {
    margin-top: 4rem;
}

article {
    color: black;
    height: auto;
}

article header {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.article-title {
    font-weight: 900;
    font-size: 2rem;
    width: auto;
}

.title-underline {
    display: block;
    width: 70%;
    height: 0.25rem;
    background-color: black;
    margin: auto;
}

section {
    position: relative;
}

.section-text {
    position: relative;
    padding: 4rem;
    text-align: center;
    max-width: 1200px;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0);
}

.project-grid-container {
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes card-entry {
    0% {
        transform: translateX(-100%);
        left: 0;
    }
    100% {
        left: auto;
        transform: translateX(0);
    }
}

.project-grid-item {
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    display: flex;
}

.project-grid-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1450px) {
    .project-grid-container {
        margin: 4rem 2rem;
    }
    .project-grid-item {
        width: 40%;
    }
}

@media only screen and (max-width: 1450px) {
    .project-grid-container {
        margin: 4rem 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .project-grid-container {
        margin: 4rem 0rem;
    }
    .project-grid-item {
        width: 100%;
        margin: 1rem;
    }
}

.project-grid-img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.project-grid-item-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project-grid-item-details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.item-details-content {
    display: flex;
    flex: 1 1 auto;
    margin: 0 1rem;
}

.project-grid-item-title {
    margin: 1rem 1rem 0 1rem;
}

.chips {
    margin: 0 1rem;
}

.tag-chip {
    display: inline-block;
    padding: 0 1rem;
    margin: 1rem 0 1rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    background-color: #f1f1f1;
}

.main-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
}

.main-modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-container {
    display: none;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: white;
    animation: modal-enter 300ms;
}

@keyframes modal-enter {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes modal-exit {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.modal-header {
    width: 80vw;
    background-color: white;
    color: black;
    left: 0;
    transform: translate(0);
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageHub {
    background-color: #308299;
    color: white;
}

@media only screen and (max-width: 800px) {
    .modal-container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: rgb(238, 238, 238);
    }
    .modal-header {
        position: relative;
        width: 100vw;
        background-color: rgb(238, 238, 238);
        color: black;
        left: 0;
        transform: translate(0);
        text-align: center;
    }
}

.modal-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-about {
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

.btn-modal-close {
    background-color: transparent;
    border: 0px;
    color: rgb(80, 80, 80);
    font-size: 1.5rem;
    float: right;
    margin-right: 0.5rem;
}

.modal-article {
    position: relative;
    background-color: white;
    width: 80vw;
    padding: 2rem;
}

@media only screen and (max-width: 800px) {
    .modal-article {
        position: relative;
        background-color: white;
        width: 100vw;
        padding: 1rem 0 0 0;
    }
}

.modal-section {
    padding: 0 1rem 1rem 1rem;
}

.modal-article h3 {
    left: 0;
    transform: translate(0);
}

.modal-img-container {
    padding: 0 1rem 1rem 1rem;
}

@media only screen and (max-width: 600px) {
    .modal-img-container {
        padding: 0;
    }
}

.modal-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.modal-section-content {
    font-size: 1rem;
}

.modal-section-content p {
    padding: 1rem;
}

template {
    display: none;
}

.tile-container {
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.tile {
    margin: 0.5rem;
    position: relative;
    color: white;
    padding: 1rem;
}


/*
.modal-overlay {

}*/